<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisea.yysc.common.dao.CommAttriMapper" >
  <resultMap id="BaseResultMap" type="com.wisea.yysc.common.entity.CommAttri" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="comm_pub_id" property="commPubId" jdbcType="BIGINT" />
    <result column="comm_attri_id" property="commAttriId" jdbcType="BIGINT" />
    <result column="comm_attri_name" property="commAttriName" jdbcType="VARCHAR" />
    <result column="comm_attri_column" property="commAttriColumn" jdbcType="VARCHAR" />
    <result column="comm_attri_type" property="commAttriType" jdbcType="VARCHAR" />
    <result column="comm_attri_val" property="commAttriVal" jdbcType="VARCHAR" />
    <result column="length" property="length" jdbcType="INTEGER" />
    <result column="if_requ" property="ifRequ" jdbcType="CHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.wisea.yysc.common.entity.CommAttri" extends="BaseResultMap" >
    <result column="dict_val" property="dictVal" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, comm_pub_id, comm_attri_id, comm_attri_name, comm_attri_column, comm_attri_type, 
    comm_attri_val, length, if_requ, sort, create_by, create_date, update_by, update_date, 
    remarks, del_flag
  </sql>
  <sql id="Blob_Column_List" >
    dict_val
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from comm_attri
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from comm_attri
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="batchInsert" parameterType="com.wisea.yysc.common.entity.CommAttri" >
    insert into comm_attri (id, comm_pub_id, comm_attri_id,
                            comm_attri_name, comm_attri_column, comm_attri_type,
                            comm_attri_val, length, if_requ,
                            sort, create_by, create_date,
                            update_by, update_date, remarks,
                            del_flag, dict_val)
    values <foreach collection ="list" item="info" separator="," >
           (#{info.id,jdbcType=BIGINT}, #{info.commPubId,jdbcType=BIGINT}, #{info.commAttriId,jdbcType=BIGINT},
            #{info.commAttriName,jdbcType=VARCHAR}, #{info.commAttriColumn,jdbcType=VARCHAR}, #{info.commAttriType,jdbcType=VARCHAR},
            #{info.commAttriVal,jdbcType=VARCHAR}, #{info.length,jdbcType=INTEGER}, #{info.ifRequ,jdbcType=CHAR},
            #{info.sort,jdbcType=INTEGER}, #{info.createBy,jdbcType=VARCHAR}, #{info.createDate,jdbcType=TIMESTAMP},
            #{info.updateBy,jdbcType=VARCHAR}, #{info.updateDate,jdbcType=TIMESTAMP}, #{info.remarks,jdbcType=VARCHAR},
            #{info.delFlag,jdbcType=CHAR}, #{info.dictVal,jdbcType=LONGVARCHAR})
  </foreach>
  </insert>


  <insert id="insert" parameterType="com.wisea.yysc.common.entity.CommAttri" >
    insert into comm_attri (id, comm_pub_id, comm_attri_id, 
      comm_attri_name, comm_attri_column, comm_attri_type, 
      comm_attri_val, length, if_requ, 
      sort, create_by, create_date, 
      update_by, update_date, remarks, 
      del_flag, dict_val)
    values (#{id,jdbcType=BIGINT}, #{commPubId,jdbcType=BIGINT}, #{commAttriId,jdbcType=BIGINT}, 
      #{commAttriName,jdbcType=VARCHAR}, #{commAttriColumn,jdbcType=VARCHAR}, #{commAttriType,jdbcType=VARCHAR}, 
      #{commAttriVal,jdbcType=VARCHAR}, #{length,jdbcType=INTEGER}, #{ifRequ,jdbcType=CHAR}, 
      #{sort,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=CHAR}, #{dictVal,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wisea.yysc.common.entity.CommAttri" >
    insert into comm_attri
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="commPubId != null" >
        comm_pub_id,
      </if>
      <if test="commAttriId != null" >
        comm_attri_id,
      </if>
      <if test="commAttriName != null" >
        comm_attri_name,
      </if>
      <if test="commAttriColumn != null" >
        comm_attri_column,
      </if>
      <if test="commAttriType != null" >
        comm_attri_type,
      </if>
      <if test="commAttriVal != null" >
        comm_attri_val,
      </if>
      <if test="length != null" >
        length,
      </if>
      <if test="ifRequ != null" >
        if_requ,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="dictVal != null" >
        dict_val,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="commPubId != null" >
        #{commPubId,jdbcType=BIGINT},
      </if>
      <if test="commAttriId != null" >
        #{commAttriId,jdbcType=BIGINT},
      </if>
      <if test="commAttriName != null" >
        #{commAttriName,jdbcType=VARCHAR},
      </if>
      <if test="commAttriColumn != null" >
        #{commAttriColumn,jdbcType=VARCHAR},
      </if>
      <if test="commAttriType != null" >
        #{commAttriType,jdbcType=VARCHAR},
      </if>
      <if test="commAttriVal != null" >
        #{commAttriVal,jdbcType=VARCHAR},
      </if>
      <if test="length != null" >
        #{length,jdbcType=INTEGER},
      </if>
      <if test="ifRequ != null" >
        #{ifRequ,jdbcType=CHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="dictVal != null" >
        #{dictVal,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisea.yysc.common.entity.CommAttri" >
    update comm_attri
    <set >
      <if test="commPubId != null" >
        comm_pub_id = #{commPubId,jdbcType=BIGINT},
      </if>
      <if test="commAttriId != null" >
        comm_attri_id = #{commAttriId,jdbcType=BIGINT},
      </if>
      <if test="commAttriName != null" >
        comm_attri_name = #{commAttriName,jdbcType=VARCHAR},
      </if>
      <if test="commAttriColumn != null" >
        comm_attri_column = #{commAttriColumn,jdbcType=VARCHAR},
      </if>
      <if test="commAttriType != null" >
        comm_attri_type = #{commAttriType,jdbcType=VARCHAR},
      </if>
      <if test="commAttriVal != null" >
        comm_attri_val = #{commAttriVal,jdbcType=VARCHAR},
      </if>
      <if test="length != null" >
        length = #{length,jdbcType=INTEGER},
      </if>
      <if test="ifRequ != null" >
        if_requ = #{ifRequ,jdbcType=CHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="dictVal != null" >
        dict_val = #{dictVal,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wisea.yysc.common.entity.CommAttri" >
    update comm_attri
    set comm_pub_id = #{commPubId,jdbcType=BIGINT},
      comm_attri_id = #{commAttriId,jdbcType=BIGINT},
      comm_attri_name = #{commAttriName,jdbcType=VARCHAR},
      comm_attri_column = #{commAttriColumn,jdbcType=VARCHAR},
      comm_attri_type = #{commAttriType,jdbcType=VARCHAR},
      comm_attri_val = #{commAttriVal,jdbcType=VARCHAR},
      length = #{length,jdbcType=INTEGER},
      if_requ = #{ifRequ,jdbcType=CHAR},
      sort = #{sort,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      dict_val = #{dictVal,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisea.yysc.common.entity.CommAttri" >
    update comm_attri
    set comm_pub_id = #{commPubId,jdbcType=BIGINT},
      comm_attri_id = #{commAttriId,jdbcType=BIGINT},
      comm_attri_name = #{commAttriName,jdbcType=VARCHAR},
      comm_attri_column = #{commAttriColumn,jdbcType=VARCHAR},
      comm_attri_type = #{commAttriType,jdbcType=VARCHAR},
      comm_attri_val = #{commAttriVal,jdbcType=VARCHAR},
      length = #{length,jdbcType=INTEGER},
      if_requ = #{ifRequ,jdbcType=CHAR},
      sort = #{sort,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findPage" resultType="com.wisea.yysc.common.vo.CommAttriListVo" parameterType="com.wisea.yysc.common.po.CommAttriPagePo" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from comm_attri
    where del_flag = '0'
  </select>
  <select id="findList" resultType="com.wisea.yysc.common.vo.CommAttriListVo" parameterType="com.wisea.yysc.common.po.CommAttriListPo" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from comm_attri
    where del_flag = '0'
  </select>
  <update id="deleteLogic" parameterType="com.wisea.yysc.common.entity.CommAttri" >
    update comm_attri
    set del_flag = '1',update_by = #{updateBy,jdbcType=VARCHAR},update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="deleteByCommPubId" parameterType="java.lang.Long">
    update comm_attri set del_flag='1' where comm_pub_id=#{id}
  </update>

</mapper>