<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisea.yysc.common.dao.CommAttriMageMapper" >
  <resultMap id="BaseResultMap" type="com.wisea.yysc.common.entity.CommAttriMage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="comm_attri_name" property="commAttriName" jdbcType="VARCHAR" />
    <result column="comm_attri_column" property="commAttriColumn" jdbcType="VARCHAR" />
    <result column="comm_attri_type" property="commAttriType" jdbcType="VARCHAR" />
    <result column="length" property="length" jdbcType="INTEGER" />
    <result column="effe_inval_state" property="effeInvalState" jdbcType="VARCHAR" />
    <result column="decimal_dig" property="decimalDig" jdbcType="INTEGER" />
    <result column="max_val" property="maxVal" jdbcType="DOUBLE" />
    <result column="min_val" property="minVal" jdbcType="DOUBLE" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.wisea.yysc.common.entity.CommAttriMage" extends="BaseResultMap" >
    <result column="dict_val" property="dictVal" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, comm_attri_name, comm_attri_column, comm_attri_type, length, effe_inval_state,
    decimal_dig, max_val, min_val, sort, create_by, create_date, update_by, update_date, 
    remarks, del_flag
  </sql>
  <sql id="Blob_Column_List" >
    dict_val
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from comm_attri_mage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from comm_attri_mage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wisea.yysc.common.entity.CommAttriMage" >
    insert into comm_attri_mage (id, comm_attri_name, comm_attri_column,
                                 comm_attri_type, length, effe_inval_state,
                                 decimal_dig, max_val, min_val,
                                 sort, create_by, create_date,
                                 update_by, update_date, remarks,
                                 del_flag, dict_val)
    values (#{id,jdbcType=BIGINT}, #{commAttriName,jdbcType=VARCHAR}, #{commAttriColumn,jdbcType=VARCHAR},
            #{commAttriType,jdbcType=VARCHAR}, #{length,jdbcType=INTEGER}, #{effeInvalState,jdbcType=VARCHAR},
            #{decimalDig,jdbcType=INTEGER}, #{maxVal,jdbcType=DOUBLE}, #{minVal,jdbcType=DOUBLE},
            #{sort,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
            #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR},
            #{delFlag,jdbcType=CHAR}, #{dictVal,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wisea.yysc.common.entity.CommAttriMage" >
    insert into comm_attri_mage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="commAttriName != null" >
        comm_attri_name,
      </if>
      <if test="commAttriColumn != null" >
        comm_attri_column,
      </if>
      <if test="commAttriType != null" >
        comm_attri_type,
      </if>
      <if test="length != null" >
        length,
      </if>
      <if test="effeInvalState != null" >
        effe_inval_state,
      </if>
      <if test="decimalDig != null" >
        decimal_dig,
      </if>
      <if test="maxVal != null" >
        max_val,
      </if>
      <if test="minVal != null" >
        min_val,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="dictVal != null" >
        dict_val,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="commAttriName != null" >
        #{commAttriName,jdbcType=VARCHAR},
      </if>
      <if test="commAttriColumn != null" >
        #{commAttriColumn,jdbcType=VARCHAR},
      </if>
      <if test="commAttriType != null" >
        #{commAttriType,jdbcType=VARCHAR},
      </if>
      <if test="length != null" >
        #{length,jdbcType=INTEGER},
      </if>
      <if test="effeInvalState != null" >
        #{effeInvalState,jdbcType=VARCHAR},
      </if>
      <if test="decimalDig != null" >
        #{decimalDig,jdbcType=INTEGER},
      </if>
      <if test="maxVal != null" >
        #{maxVal,jdbcType=DOUBLE},
      </if>
      <if test="minVal != null" >
        #{minVal,jdbcType=DOUBLE},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="dictVal != null" >
        #{dictVal,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisea.yysc.common.entity.CommAttriMage" >
    update comm_attri_mage
    <set >
      <if test="commAttriName != null" >
        comm_attri_name = #{commAttriName,jdbcType=VARCHAR},
      </if>
      <if test="commAttriColumn != null" >
        comm_attri_column = #{commAttriColumn,jdbcType=VARCHAR},
      </if>
      <if test="commAttriType != null" >
        comm_attri_type = #{commAttriType,jdbcType=VARCHAR},
      </if>
      <if test="length != null" >
        length = #{length,jdbcType=INTEGER},
      </if>
      <if test="effeInvalState != null" >
        effe_inval_state = #{effeInvalState,jdbcType=VARCHAR},
      </if>
      <if test="decimalDig != null" >
        decimal_dig = #{decimalDig,jdbcType=INTEGER},
      </if>
      <if test="maxVal != null" >
        max_val = #{maxVal,jdbcType=DOUBLE},
      </if>
      <if test="minVal != null" >
        min_val = #{minVal,jdbcType=DOUBLE},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="dictVal != null" >
        dict_val = #{dictVal,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisea.yysc.common.entity.CommAttriMage" >
    update comm_attri_mage
    set comm_attri_name = #{commAttriName,jdbcType=VARCHAR},
        comm_attri_column = #{commAttriColumn,jdbcType=VARCHAR},
        comm_attri_type = #{commAttriType,jdbcType=VARCHAR},
        length = #{length,jdbcType=INTEGER},
        effe_inval_state = #{effeInvalState,jdbcType=VARCHAR},
        decimal_dig = #{decimalDig,jdbcType=INTEGER},
        max_val = #{maxVal,jdbcType=DOUBLE},
        min_val = #{minVal,jdbcType=DOUBLE},
        sort = #{sort,jdbcType=INTEGER},
        create_by = #{createBy,jdbcType=VARCHAR},
        create_date = #{createDate,jdbcType=TIMESTAMP},
        update_by = #{updateBy,jdbcType=VARCHAR},
        update_date = #{updateDate,jdbcType=TIMESTAMP},
        remarks = #{remarks,jdbcType=VARCHAR},
        del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findPageList" resultType="com.wisea.yysc.common.vo.product.CommAttriMagePageListVo" parameterType="com.wisea.yysc.common.po.product.CommAttriMagePageListPo" >
    select
      id id,
      comm_attri_name commAttriName,
      comm_attri_column commAttriColumn,
      comm_attri_type commAttriType,
      length length,
      effe_inval_state effeInvalState,
      decimal_dig decimalDig,
      max_val maxVal,
      min_val minVal,
      sort sort,
      remarks remarks
    from
      comm_attri_mage
    where
      del_flag = '0'
    <if test="commAttriName != null and commAttriName != ''">
     and  comm_attri_name like concat('%',#{commAttriName},'%')
      or  comm_attri_column like concat('%',#{commAttriName},'%')
    </if>
    <if test="effeInvalState != null and effeInvalState != ''">
      and  effe_inval_state = #{effeInvalState}
    </if>
    order by sort
  </select>
  <select id="findInfo" resultType="com.wisea.yysc.common.vo.product.CommAttriMageInfoVo" parameterType="java.lang.Long" >
    select
      id id,
      comm_attri_name commAttriName,
      comm_attri_column commAttriColumn,
      comm_attri_type commAttriType,
      length length,
      effe_inval_state effeInvalState,
      decimal_dig decimalDig,
      max_val maxVal,
      min_val minVal,
      sort sort,
      remarks remarks
    from
      comm_attri_mage
    where
      del_flag = '0'
      and id = #{id}
  </select>
  <update id="deleteLogic" parameterType="com.wisea.yysc.common.entity.CommAttriMage" >
    update comm_attri_mage
    set del_flag = '1',update_by = #{updateBy,jdbcType=VARCHAR},update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="beforeInsertGetCatgList" resultType="com.wisea.yysc.common.po.product.CommTree">
    SELECT id,pid AS parentId,pids,comm_num,comm_catg_name,effe_inval_state
    FROM comm_mage
    WHERE del_flag != '1'
  </select>
</mapper>