<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisea.yysc.common.dao.CommPictureMapper" >
  <resultMap id="BaseResultMap" type="com.wisea.yysc.common.entity.CommPicture" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="comm_pub_id" property="commPubId" jdbcType="BIGINT" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="comm_picture_type" property="commPictureType" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, comm_pub_id, sort, url, comm_picture_type, create_by, create_date, update_by, 
    update_date, remarks, del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from comm_picture
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from comm_picture
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wisea.yysc.common.entity.CommPicture" >
    insert into comm_picture (id, comm_pub_id, sort, 
      url, comm_picture_type, create_by, 
      create_date, update_by, update_date, 
      remarks, del_flag)
    values (#{id,jdbcType=BIGINT}, #{commPubId,jdbcType=BIGINT}, #{sort,jdbcType=INTEGER}, 
      #{url,jdbcType=VARCHAR}, #{commPictureType,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
  </insert>

  <insert id="batchInsert" parameterType="com.wisea.yysc.common.entity.CommPicture" >
    insert into comm_picture (id, comm_pub_id, sort,
                              url, comm_picture_type, create_by,
                              create_date, update_by, update_date,
                              remarks, del_flag)
    values <foreach collection ="list" item="info" separator="," >
           (#{info.id,jdbcType=BIGINT}, #{info.commPubId,jdbcType=BIGINT}, #{info.sort,jdbcType=INTEGER},
            #{info.url,jdbcType=VARCHAR}, #{info.commPictureType,jdbcType=VARCHAR}, #{info.createBy,jdbcType=VARCHAR},
            #{info.createDate,jdbcType=TIMESTAMP}, #{info.updateBy,jdbcType=VARCHAR}, #{info.updateDate,jdbcType=TIMESTAMP},
            #{info.remarks,jdbcType=VARCHAR}, #{info.delFlag,jdbcType=CHAR})
  </foreach>
  </insert>

  <insert id="insertSelective" parameterType="com.wisea.yysc.common.entity.CommPicture" >
    insert into comm_picture
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="commPubId != null" >
        comm_pub_id,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="commPictureType != null" >
        comm_picture_type,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="commPubId != null" >
        #{commPubId,jdbcType=BIGINT},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="commPictureType != null" >
        #{commPictureType,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisea.yysc.common.entity.CommPicture" >
    update comm_picture
    <set >
      <if test="commPubId != null" >
        comm_pub_id = #{commPubId,jdbcType=BIGINT},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="commPictureType != null" >
        comm_picture_type = #{commPictureType,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisea.yysc.common.entity.CommPicture" >
    update comm_picture
    set comm_pub_id = #{commPubId,jdbcType=BIGINT},
      sort = #{sort,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      comm_picture_type = #{commPictureType,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findPage" resultType="com.wisea.yysc.common.vo.CommPictureListVo" parameterType="com.wisea.yysc.common.po.CommPicturePagePo" >
    select 
    <include refid="Base_Column_List" />
    from comm_picture
    where del_flag = '0'
  </select>
  <select id="findList" resultType="com.wisea.yysc.common.vo.CommPictureListVo" parameterType="com.wisea.yysc.common.po.CommPictureListPo" >
    select 
    <include refid="Base_Column_List" />
    from comm_picture
    where del_flag = '0'
  </select>
  <update id="deleteLogic" parameterType="com.wisea.yysc.common.entity.CommPicture" >
    update comm_picture
    set del_flag = '1',update_by = #{updateBy,jdbcType=VARCHAR},update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="deleteByCommPubId" parameterType="java.lang.Long">
    update comm_picture set del_flag='1' where comm_pub_id=#{id}
  </update>
</mapper>