<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisea.yysc.common.dao.OrdCancelReasonMageMapper" >
  <resultMap id="BaseResultMap" type="com.wisea.yysc.common.entity.OrdCancelReasonMage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="num" property="num" jdbcType="VARCHAR" />
    <result column="ord_cancel_reason" property="ordCancelReason" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, num, ord_cancel_reason, create_by, create_date, update_by, update_date, remarks, 
    del_flag
  </sql>
  <select id="findPageList" resultType="com.wisea.yysc.common.vo.trade.OrdCancelReasonMagePageListVo" parameterType="com.wisea.yysc.common.po.trade.OrdCancelReasonMagePageListPo" >
    select
	  id id,
	  num num,
	  ord_cancel_reason ordCancelReason,
      remarks remarks,
	  create_date createDate
	from
	  ord_cancel_reason_mage
	where
	  del_flag = '0'
    <if test="ordCancelstate != null and ordCancelstate != ''">
      AND remarks LIKE CONCAT('%', #{ordCancelstate}, '%')
    </if>
    order by num asc
  </select>
  <select id="findInfo" resultType="com.wisea.yysc.common.vo.trade.OrdCancelReasonMageInfoVo" parameterType="java.lang.Long" >
    select
	  id id,
	  num num,
	  ord_cancel_reason ordCancelReason,
	  create_date createDate
	from
	  ord_cancel_reason_mage
	where
	  del_flag = '0'
	  and id = #{id}
  </select>

  <!-- 查询取消订单原因 -->
  <select id="findAllReason" resultType="com.wisea.yysc.common.vo.OrdCancelReasonMageListVo">
    select
    id, ord_cancel_reason
    from ord_cancel_reason_mage
    where del_flag = '0'
    order by num asc
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ord_cancel_reason_mage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ord_cancel_reason_mage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wisea.yysc.common.entity.OrdCancelReasonMage" >
    insert into ord_cancel_reason_mage (id, num, ord_cancel_reason, 
      create_by, create_date, update_by, 
      update_date, remarks, del_flag
      )
    values (#{id,jdbcType=BIGINT}, #{num,jdbcType=VARCHAR}, #{ordCancelReason,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wisea.yysc.common.entity.OrdCancelReasonMage" >
    insert into ord_cancel_reason_mage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="ordCancelReason != null" >
        ord_cancel_reason,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="num != null" >
        #{num,jdbcType=VARCHAR},
      </if>
      <if test="ordCancelReason != null" >
        #{ordCancelReason,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisea.yysc.common.entity.OrdCancelReasonMage" >
    update ord_cancel_reason_mage
    <set >
      <if test="num != null" >
        num = #{num,jdbcType=VARCHAR},
      </if>
      <if test="ordCancelReason != null" >
        ord_cancel_reason = #{ordCancelReason,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisea.yysc.common.entity.OrdCancelReasonMage" >
    update ord_cancel_reason_mage
    set num = #{num,jdbcType=VARCHAR},
      ord_cancel_reason = #{ordCancelReason,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findPage" resultType="com.wisea.yysc.common.vo.OrdCancelReasonMageListVo" parameterType="com.wisea.yysc.common.po.OrdCancelReasonMagePagePo" >
    select 
    <include refid="Base_Column_List" />
    from ord_cancel_reason_mage
    where del_flag = '0'
  </select>
  <select id="findList" resultType="com.wisea.yysc.common.vo.OrdCancelReasonMageListVo" parameterType="com.wisea.yysc.common.po.OrdCancelReasonMageListPo" >
    select 
    <include refid="Base_Column_List" />
    from ord_cancel_reason_mage
    where del_flag = '0'
  </select>
  <update id="deleteLogic" parameterType="com.wisea.yysc.common.entity.OrdCancelReasonMage" >
    update ord_cancel_reason_mage
    set del_flag = '1',update_by = #{updateBy,jdbcType=VARCHAR},update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>