<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisea.yysc.common.dao.YspayBanksMapper">
    <resultMap id="BaseResultMap" type="com.wisea.yysc.common.entity.YspayBanks">
        <result column="bank_name" property="bankName" jdbcType="VARCHAR"/>
        <result column="sub_branch_name" property="subBranchName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    bank_name, sub_branch_name
  </sql>

    <select id="findList" resultType="com.wisea.yysc.common.entity.YspayBanks" parameterType="com.wisea.yysc.common.entity.YspayBanks">
        select
        bank_name
        <if test="subBranchName != null and subBranchName != ''">
            ,sub_branch_name
        </if>
        from
        yspay_banks
        where
        1=1
        <choose>
            <when test="subBranchName != null and subBranchName != ''">
                and bank_name = #{bankName}
                and sub_branch_name like concat('%', #{subBranchName}, '%')
            </when>
            <otherwise>
                and bank_name like concat('%', #{bankName}, '%')
                group by bank_name
            </otherwise>
        </choose>
    </select>
</mapper>